!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Fantasyhaus"
      %meta{:content => content_for?(:description) ? yield(:description) : "Fantasyhaus", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
  #main{:role => "main"}
    .container-fluid
      .row-fluid
        .span2.main-menu-span
          .nav-collapse.sidebar-nav
            %ul.nav.nav-tabs.nav-stacked.main-menu
              %li.nav-header.hidden-tablet
                =current_user.name
              %li{:class => "active"}
                %a(href="http://www.google.com/")
                  hi
              %li
                =link_to "sign into yahoo", "/auth/yahoo"
        #content.span10
          = yield
        %footer
      / ! end of .container
    / ! end of #main
